* {
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  transition: all 500ms ease-in-out;
}

a:hover, a:active {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/*header*/

#header {
  height: 80px;
  color: #000;
  background-color: red;
  text-align: center;
}

#container {
  padding-top: 70px;
  padding-bottom: 70px;
  height: auto;
  min-height: calc(100% - 150px);
  background-image: url("../images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container h3 {
  letter-spacing: 2px;
  margin-bottom: 5px;
  color: #fff;
}

#container h1 {
  color: #fff;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login label, .registration label {
  font-size: 30px;
  padding: 30px;
  color: #fff;
}

.login input, .registration input {
  border: none;
  width: 30%;
  margin: 0;
  border-radius: 10px;
  height: 50px;
  padding: 15px 15px 15px 15px;
}

.login h4, .registration h4 {
  margin: 10px 0 0;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
}

.login input[type=submit] {
  background-color: green;
  width: 10%;
  opacity: 0.8;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 0;
}

.registration input[type=submit] {
  background-color: red;
  width: 10%;
  opacity: 0.8;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  padding: 0;
}

.login input[type=submit]:hover, .registration input[type=submit]:hover {
  opacity: 1;
}

.err {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
}

.checkbox input {
  height: 40px;
  width: 40px;
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 430px;
  cursor: pointer;
}

.checkbox label {
  color: #fff;
  font-size: 2.0rem;
  text-decoration: underline;
  padding: 10px;
  cursor: auto;
}

.checkbox label:before {
  border: 1px solid #000;
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 410px;
}

.checkbox input:checked+label:before {
  background-image: url("../images/okicon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.g-recaptcha {
  display: flex;
  justify-content: center;
  align-items: center;
}

.return {
  background-color: #fff;
  width: 10%;
  height: 40px;
  opacity: 0.8;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  border: none;
}

.return:hover {
  opacity: 1;
}

.packages {
  height: 400px;
  width: 100%;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.wyloguj {
  float: right;
}

#first {
  background-color: #fff;
  background-image: url("../images/ninja.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#second {
  background-color: #fff;
  background-image: url("../images/pokemon1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#third {
  background-color: #fff;
  background-image: url("../images/batman.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#fourth {
  background-color: #fff;
  background-image: url("../images/superman.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#fifth {
  background-color: #fff;
  background-image: url("../images/spiderman.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#sixth {
  background-color: #fff;
  background-image: url("../images/pikachu.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#seventh {
  background-color: #fff;
  background-image: url("../images/hulk.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#eight {
  background-color: #fff;
  background-image: url("../images/pirate.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#ninth {
  background-color: #fff;
  background-image: url("../images/zorro.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#tenth {
  background-color: #fff;
  background-image: url("../images/tarzan.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#eleventh {
  background-color: #fff;
  background-image: url("../images/wizard.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#twelfth {
  background-color: #fff;
  background-image: url("../images/skeleton.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#footer {
  color: #000;
  background-color: red;
  height: 70px;
}

@media(max-width: 380px) {
  #header h1 {
    font-size: 26px;
  }
  #footer h1 {
    font-size: 26px;
  }
}

@media(max-width: 1199px) {
  .registration input {
    width: 30%;
  }
  .checkbox input {
    position: absolute;
    top: 0px;
    left: 210px;
  }
  .checkbox label:before {
    position: absolute;
    top: 0px;
    left: 310px;
  }
  .packages {
    width: 70%;
  }
  .wyloguj {
    float: right;
  }
}

@media(max-width: 991px) {
  .login input {
    width: 40%;
  }
  .login input[type=submit] {
    width: 40%;
  }
  .registration input {
    width: 40%;
  }
  .checkbox input {
    position: absolute;
    top: 0px;
    left: 105px;
  }
  .checkbox label:before {
    position: absolute;
    top: 0px;
    left: 210px;
  }
  .registration input[type=submit] {
    width: 30%;
  }
  .packages {
    width: 40%;
  }
}

@media(max-width: 768px) {
  .login input, .registration input {
    width: 60%;
  }
  .login input[type=submit] {
    width: 60%
  }
  .registration input {
    width: 40%;
  }
  .checkbox input {
    position: absolute;
    top: 0px;
    left: 70px;
  }
  .checkbox label:before {
    position: absolute;
    top: 0px;
    left: 180px;
  }
  .registration input[type=submit] {
    width: 30%;
  }
  .rent h1, .rent h1 a {
    text-align: center !important;
  }
  .wyloguj {
    float: none;
  }
}

@media(max-width: 720px) {
  .checkbox input {
    position: absolute;
    top: 0px;
    left: 100px;
  }
  .checkbox label:before {
    position: absolute;
    top: 0px;
    left: 190px;
  }
  .packages {
    width: 50%;
  }
}

@media(max-width: 670px) {
  .registration input {
    width: 60%;
  }
  .checkbox input {
    position: absolute;
    top: 0px;
    left: 10px;
  }
  .checkbox label:before {
    position: absolute;
    top: 0px;
    left: 150px;
  }
}

@media(max-width: 590px) {
  .registration input {
    width: 60%;
  }
  .registration input[type=submit] {
    width: 50%;
  }
  .checkbox input {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .checkbox label:before {
    position: absolute;
    top: 0px;
    left: 110px;
  }
  .packages {
    width: 60%;
  }
}

@media(max-width: 510px) {
  .registration input {
    width: 80%;
  }
  .checkbox input {
    position: absolute;
    top: 0px;
    left: -90px;
  }
  .checkbox label:before {
    position: absolute;
    top: 0px;
    left: 50px;
  }
  .packages {
    width: 70%;
  }
}

@media(max-width: 450px) {
  .checkbox input {
    position: absolute;
    top: 0px;
    left: -80px;
  }
  .checkbox label:before {
    position: absolute;
    top: 0px;
    left: 30px;
  }
  .packages {
    width: 80%;
  }
}

@media(max-width: 370px) {
  .checkbox input {
    position: absolute;
    top: 0px;
    left: -80px;
  }
  .checkbox label:before {
    position: absolute;
    top: 0px;
    left: -10px;
  }
  .packages {
    width: 90%;
  }
}
